*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #Fdfcfc;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: 'Roboto', sans-serif;
}
h1{
background-color: #f8f8ff;
}
a{
    background-color: #f8f8ff;
}
.projectsContainer{
    height: 100vh;
}
.resumeContainer{
    height: 100vh;
}
.photosContainer{
    height: 100vh;
}
.homeContainer{
    height: 100vh;
}

.backgroundImage{
    background-repeat: no-repeat; 
    background-size: auto;
    width: 100%;
    opacity: .25;
}

.contactContainer{
    position:relative;
    background-color: red;
    height:5vh;
    width:100%;
}

.contactInfo{
    position:relative;
    background-color: blue;
    height:5vh;
    max-width: 50%;
    left:25%;
    
}


@media (max-width:820px){
    *{
        background-color: saddlebrown;
    }
}



