*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8ff;
  }

/******** NAVBAR CSS ********/
nav{
    position: fixed;
    width:100%;
    min-height: auto;
    background-color: #f2f3f4;
}
a{
    background-color: #f2f3f4;
}
ul{
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    max-width: 500px;
    min-height: 65px;
    margin: 0px auto;
    padding: 0;
    background-color: #f2f3f4; 
    cursor: pointer;
    
}

li{
    display: block;
    flex: 0 1 auto; /* Default */
    line-height: 65px;
    list-style-type: none;
    background: #f2f3f4;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    color:#2C394B;
}

div{
    height:100vh;
}



.photos-container{
    /* background-color: red; */
}

.contact-container{
    /* background-color: orange */
}

.projects-container{
    /* background-color: yellow; */
}

.resume-container{
    /* background-color: green; */

}

.home-container{
    /* background-color: purple; */
}

.mobile-nav{
    display:none;
}





@media (max-width: 590px){
    .nav-container .desktop-nav{
        display: none;
    }

    .nav-container .mobile-nav{
        display: flex;
        /* background-color: red; */
        position: absolute;
        left: 5%;
        cursor: pointer;
        top:10px;
    }
    .nav-container{
        top:10px;
    }
    ul{
        display:flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left:5%;
        cursor: pointer;
    }   

}